<configuration>
    <appender name="FILE_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs.log</file>
        <layout>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -%kvp- %msg%n
            </Pattern>
        </layout>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -%kvp- %msg%n
            </Pattern>
        </layout>
    </appender>
    <root level="INFO">
        <appender-ref ref="FILE_LOG"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>